<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caulyandroidrn">

  <!--카울리 SDK에서 사용하는 퍼미션들-->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

</manifest>
